:root {
  --color-primary: #27c26c;
  --color-primary-dark: #21a75d;
  --color-primary-accent: #eb4e29;
  --color-secondary-jungleblack: #2c2e3c;
  --color-secondary-charcoal: #585a6e;
  --color-secondary-darkgray: #a4a7b2;
  --color-secondary-lightgray: #edeef2;
  --color-gray-info: #6d6f78;
  --color-tertiary-saffron: #f7b82f;
  --color-tertiary-saffron-light: #fce3ac;
  --color-tertiary-blue: #3c4ad9;
  --color-tertiary-blue-light: #b1b7f0;
  --color-error: #d02839;
  --color-error-light: #f22f42;
  --color-footer-default: #4c4d5e;
  --color-link-default: #0077b7;
  --color-link-orange: #f46736;
  --color-link-orange-light: #de6c2d;
  --color-link-gray: #585a6e;
  --color-link-active-white: #dcdde1;
  --color-paragraph-card: #4b546b;
  --color-subtitle-lightgray: #38415b;
  --color-icon-check-orange: #eb5d3d;
  --color-background-section-gray: #edeef2;
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-50: 3.125rem;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-10: 0.625rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-28: 1.75rem;
  --space-32: 2rem;
  --main-header-height: 80px;
}
